{% extends "::base.html.twig" %}
{% block body %}
    <h1 class="lead text-center">Où veux-tu te la couler douce ?</h1>
    <div class="col-md-4 col-md-offset-4 form-group">
        {{ form_start(form) }}
        <div id="monId">
            <div class="checkbox-inline">
                {{ form_label(form.name) }}

            </div>
            {{ form_widget(form.name) }}
        </div>
        {{ form_row(form.pictures) }}
        <button id="add_Pictures">Ajoute des images</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            var container = $("#tf_mainbundle_hotel_pictures");
            var index = 1;
            $("#add_Pictures").click(function(e){
                var protoChaine = container.attr("data-prototype");
                var prototype = $(protoChaine.replace(/__name__/g, index).replace("__name__label", "Image n°" + index));
                e.preventDefault();
                container.append(prototype);
                index++;
            })

//            function add_Pictures(cont){
//                console.log(cont);
//                var template = cont.attr('data-prototype')
//                    .replace("__name__label", `Image n° ${index}`)
//                    .replace("__name__", index);
//                    var prototype = template;
//                    cont.append(prototype);
//                    index++;
//                    addDeleteLink(cont);
//            }
//
//            function addDeleteLink(proto){
//                var deleteLink = `<button class="delete-btn btn btn-danger">delete</button>`;
//                deleteLink.click(function(e){
//                    e.preventDefault();
//                    proto.remove();
//                })
//            }
        });
    </script>
{% endblock %}