{% extends "::base.html.twig" %}
{% block body %}

    <div class="container center-block">
        <img src="{{ asset(hotels.MainPicture.url)}}"  alt="">
        <p>Nom : {{ hotels.name }}</p>
        <p>Piscine: {{ hotels.options.pool }}</p>
        <p>Ville: {{ hotels.city }}</p>
        <p>{{ hotels.Price }} euros</p>
        {% for hotel in hotels.pictures %}
            <img class="img-thumbnail" width="300px" height="200px" display="inline-block"  src="{{ asset(hotel.url) }}" alt="">
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}