<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>TF - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
    </head>
    <body>
        {% if not(is_granted('ROLE_USER')) %}
            {% include 'nav/nav_anonyme.html.twig' %}
        {% elseif not(is_granted('ROLE_ADMIN')) %}
            {% include  'nav/nav_user.html.twig'%}
        {% else %}
            {%  include 'nav/nav_admin.html.twig' %}
        {% endif %}

        {% for successMessage in app.session.flashbag.get('success_messages') %}
            {{ successMessage }}
        {% endfor %}
        {% block body %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
