<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('tf_main_home') }}">Hotel Mania</a>
        </div>
        <ul class="nav navbar-nav" style="margin-bottom:0">
            <li class="active"><a href="{{ path('tf_main_home') }}">Home</a></li>
            <li><a href="{{ path('tf_main_contact') }}">Contact</a></li>
            <li><a href="{{ path('tf_main_about') }}">About</a></li>
            <li><a href="{{ path('tf_main_user_register') }}">Register</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">LogIn</a></li>

        </ul>
    </div>
</nav>

