{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-md-4 col-md-offset-4">
        <form action="{{ path('login_check') }}" method="POST">
            <input class="form-control" type="text" name="_username">
            <input class="form-control" type="text" name="_password">
            <input type="submit" class="btn btn-danger">
        </form>
    </div>
{% endblock %}

