{% extends "::base.html.twig" %}
{% block body %}
    <div class="col-md-4 col-md-offset-4">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/User/register.js') }}"></script>

{%  endblock %}