{% extends "::base.html.twig" %}
{% block title %}Home{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Hotel Mania</h1>
        <p>Déclencheur d’émotions !</p>
    </div>
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-sm-4">#}
                {#<h3>Voyage 1</h3>#}
                {#<img width="300px" height="200px" src="https://www.monde-du-voyage.com/images/monde-du-voyage.jpg" class="img-thumbnail" alt="">#}
                {#<p>Lorem ipsum dolor..</p>#}
                {#<p>Ut enim ad..</p>#}
            {#</div>#}
            {#<div class="col-sm-4">#}
                {#<h3>Voyage 2</h3>#}
                {#<img width="300px" height="200px" src="http://www.voyages-receptifs.com/wp-content/uploads/2016/02/voyages-en-partance-yukon-canada-sur-la-route-de-glace-voyages-receptifs.jpg" class="img-thumbnail" alt="">#}
                {#<p>Lorem ipsum dolor..</p>#}
                {#<p>Ut enim ad..</p>#}
            {#</div>#}
            {#<div class="col-sm-4">#}
                {#<h3>Voyage 3</h3>#}
                {#<img width="300px" height="200px" class="img-thumbnail" src="http://static.mnium.org/images/contenu/actus/Overwatch/Cartes/ilios/overwatch_ilios_irl.jpg" alt="">#}
                {#<p>Lorem ipsum dolor..</p>#}
                {#<p>Ut enim ad..</p>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="container">
        {% for hotel in hotels %}
            <div class="col-sm-3">
                <h2>{{ hotel.name }}</h2>
                <a href="{{ path('tf_main_hotel_details', {'id': hotel.id}) }}">
                <img class="img-thumbnail img-responsive" src="{{ asset(hotel.MainPicture.url) }}" alt=""></a><br/>
                <p>{{ hotel.city }}</p>
                <p>Prix: {{ hotel.price }}</p>
            </div>
        {% endfor %}
    </div>




{% endblock %}
{% block scripts %}{% endblock %}